* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-display: auto;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673ab7;
    transition: background-color .4s ease-out;
}

.app {
    padding: 10px;
}

.app-header {
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

.timer-settings {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.break-label {
    font-size: 1.2rem;
    margin-right: 10px;
}

.session-label {
    font-size: 1.2rem;
}

.settings {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.screen-result {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid #4acf50;
    margin-bottom: 15px;
    transition: border-color .4s ease-out;
}

@media only screen and (max-width:500px) {
    .app-header {
        font-size: 1.7rem;
    }

    .screen-result {
        width: 175px;
        height: 175px;
    }
}